<?xml version='1.0' encoding='utf-8'?>
<widget id="cl.smartsouth.www" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>iLosLagos</name>
    <description>
        Aplicacion SmartCity para ciudades dentro de Chile
    </description>
    <author email="contacto@smartsouth.cl" href="http://www.smartsouth.cl">
        Autores: SmartSouth
        Programador: Gabriel Rehbein
    </author>
    <content src="index.html" />
    <access origin="*://*.googleapis.com/*" subdomains="true" />
	<access origin="*://*.gstatic.com/*" subdomains="true" />
	<access origin="*://*.google.com/*" subdomains="true" />
	<access origin="*://*.googleusercontent.com/*" subdomains="true" />
    <access origin="*://*.smartsouth.cl/*" subdomains="true" />
    <preference name="orientation" value="portrait" />
</widget>
